extends menu.pug 

block title 
    title Borrar Alumnos
block container
    .row.gx-5.mt-5
        .col(style={width:'400px'})
            form(action="/deleteAlumnos" method="post")
                .form-group.mt-3
                    label.fw-bold(for="idAlumno") Busqueda
                    input.form-control.agregar(type='number' placeholder='Numero de identidad del alumno' name="idAlumno" required)
                .form-check.mt-3
                        button.agregar.btn.btn-lg.btn-primary(type="submit") Eliminar

                        a.nav-link.mt-3(href='/') Agregar un Alumno?
        
        .col
            if alumno !== undefined && alumno.length !== 0
                table.table.mt-3
                    tr.table-dark
                        th Numero de Identidad
                        th Nombres
                        th Apellidos
                        th Telefono
                        th Correo
                        th ID# Carrera
                    each a in alumno
                        tr
                            td #{a.numeroIdentidad}
                            td #{a.nombres}
                            td #{a.apellidos}
                            td #{a.telefono}
                            td #{a.correo}
                            td #{a.carreraFK}
            else 
                h1 No hay datos